<div id="user-auth-modal">
  <div class="container">
    <div class="auth-header">
      <div class="action-text">
        <h2>Inicia Sesión</h2>
        <p>Necesitas una cuenta? <span>Registrate</span></p>
      </div>
      <span class="close-button">
        <i class="far fa-times-circle"></i>
      </span>
    </div>
  </div>
</div>