.forgot-password {
  min-height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFBFC;
}
.forgot-password .inner-forgot {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
  border-radius: 4px;
}
/* success div */
.forgot-password .inner-forgot.success {
  text-align: center;
}
.forgot-password .inner-forgot.success i {
  margin-bottom: 20px;
  font-size: 40px;
  color: #3ece3e;
}
/*  */
.forgot-password .inner-forgot .forgot-header {
  margin-bottom: 16px;
  text-align: center;
}
.forgot-password .inner-forgot .forgot-header h2 {
  font-size: 22px;
  line-height: 2.5rem;
  color: #006AFF;
}
.forgot-password .inner-forgot .forgot-header p {
  color: #333;
}

/* form */
.forgot-password .inner-forgot .forgot-form .form-group label {
  text-transform: capitalize;
  color: rgb(134, 144, 153);
  font-size: 14px;
  line-height: 1.43;
  padding-bottom: 8px;
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-top: 16px;
}
.forgot-password .inner-forgot .forgot-form .form-group input {
  border-radius: 4px;
  border: 1px solid #A7A6AB;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}
.forgot-password .inner-forgot .forgot-form .form-group input:hover {
  border-color: #0069ff;
}
.forgot-password .inner-forgot .forgot-form .form-group input:focus {
  border-color: #0069ff;
  box-shadow: inset 0 0 0 #f9f9fb, 0 0 5px #62aef7;
}
.forgot-password .inner-forgot .forgot-form .form-group button {
  margin: 16px 0 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #006AFF;
  background-color: #006AFF;
}

@media only screen and (min-width: 768px) {
  /* .forgot-password .inner-forgot {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
  } */
  .forgot-password .inner-forgot .forgot-header h2 {
    font-size: 24px;
  }
}