.dashboard-content-right {
  padding: 16px;
}

/* Top dashboad container - KPI Cards */
.dashboard-content-right .top-dash-container .top-container-inner {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-content-right .top-dash-container .kpi-card {
  width: 50%;
}
.dashboard-content-right .top-dash-container .kpi-card#kpi-1 {
  width: 100%;
}
.dashboard-content-right .top-dash-container .kpi-card .card-inner {
  height: 50px;
  background-color: #fff;
}
.dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text .data-text {
  font-size: 20px;
  font-weight: 600;
}
.dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text .title-text {
  margin-top: 2px;
  margin-left: 8px;
  font-weight: 300;
}

/* Bottom top listing container */
.dashboard-content-right .bottom-top-listings {
  margin-top: 60px;
  /* height: 300px; */
  /* background-color: rgb(236 236 236); */
}
.dashboard-content-right .bottom-top-listings .top-listings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #4c4c4c;
  margin-bottom: 10px;
}
.dashboard-content-right .bottom-top-listings .empty-list-container {
  margin-top: 80px;
  /* height: 100%;
  min-height: 300px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.dashboard-content-right .bottom-top-listings .empty-list-container span.text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}
.dashboard-content-right .bottom-top-listings .empty-list-container a {
  padding: 12px;
  background-color: #1657D7;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.dashboard-content-right .bottom-top-listings .empty-list-container a i {
  margin-left: 5px;
}
.dashboard-content-right .bottom-top-listings .top-listings-header h1 {
  flex-basis: 100%;
}
.dashboard-content-right .bottom-top-listings .top-listings-header .top-listings-sub-headers {
  display: none;
  /* flex-basis: 45%; */
}
.dashboard-content-right .bottom-top-listings .top-listings-header .top-listings-sub-headers span {
  font-weight: 600;
}

.dashboard-content-right .bottom-top-listings .top-listings-list .listing-actions {
  display: none;
}
.dashboard-content-right .bottom-top-listings .top-listings-list .right-info-container .sections {
  flex-basis: 20%;
}
.dashboard-content-right .bottom-top-listings .top-listings-list .right-info-container .listing-status span {
  padding: 6px;
  background-color: green;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}
/* Footer */
.dashboard-content-right .landing-footer {
  margin: 0 -16px -16px;
}

@media only screen and (max-width: 767px) {
  #card-1, #card-2, #card-3, #card-4 {
    border-style: solid;
    border-color: #e2e2e2;
  }
  #card-1 {
    border-width: 1px;
    border-radius: 4px 4px 0 0;
  }
  #card-2 {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 0 4px;
  }
  #card-3 {
    border-width: 0 1px 1px 0;
    border-radius: 0 0 4px 0;
  }
  /*  */
  .dashboard-content-right .bottom-top-listings .top-listings-list .listing-details {
    padding-left: 0;
  }
  .dashboard-content-right .bottom-top-listings .top-listings-list .listing-details .info-container {
    padding-right: 0;
  }
  .dashboard-content-right .bottom-top-listings .top-listings-list .listing-details .info-container .listing-stats span.mts {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .dashboard-content-right .top-dash-container {
    margin: 0 -8px;
  }
  .dashboard-content-right .top-dash-container .kpi-card {
    width: 50%;
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner {
    height: 100px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15)
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text .data-text {
    font-size: 30px;
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text .title-text {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 20px;
  }
  /* Bottom top listings */
  .dashboard-content-right .bottom-top-listings .top-listings-header h1 {
    flex-basis: 50.8%;
  }
  .dashboard-content-right .bottom-top-listings .top-listings-header .top-listings-sub-headers {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
  }
  .dashboard-content-right .bottom-top-listings .top-listings-header .top-listings-sub-headers span {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
  }
  .dashboard-content-right
  .bottom-top-listings
  .top-listings-header
  .top-listings-sub-headers
  span.listing-status,
  .dashboard-content-right
  .bottom-top-listings
  .top-listings-header
  .top-listings-sub-headers span.listing-date {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .dashboard-content-right {
    padding: 25px;
  }
  .dashboard-content-right .top-dash-container .kpi-card {
    width: 33.3%;
  }
  .dashboard-content-right .top-dash-container .kpi-card#kpi-1 {
    width: 33.3%;
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner {
    height: 115px;
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text {
    flex-direction: column;
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text .data-text {
    font-size: 34px;
  }
  .dashboard-content-right .top-dash-container .kpi-card .card-inner .inner-text .title-text {
    margin-left: 0;
    margin-top: 5px;
  }

  .dashboard-content-right .bottom-top-listings .top-listings-header h1 {
    flex-basis: 44.9%;
  }
  .dashboard-content-right
  .bottom-top-listings
  .top-listings-header
  .top-listings-sub-headers
  span.listing-status,
  .dashboard-content-right
  .bottom-top-listings
  .top-listings-header
  .top-listings-sub-headers span.listing-date {
    display: flex;
  }
  /* Footer */
.dashboard-content-right .landing-footer {
  margin: 0 -25px -25px;
}
}

