<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script async="true" type="text/javascript" src="/script.js"></script>
    <!-- <script defer src="../node_modules/@fortawesome/fontawesome-free/js/all.js"></script> -->
    <title>Hauzzy</title>
  </head>
  <body>
    <header>
      <div class="nav-container">
        <nav class="nav-menu">
          <a href="/" class="main-logo">
            <img src="/media/brand-logo-vf.svg" class="brand-logo"/>
          </a>
          <a href="/" class="nav-link">Comprar</a>
          <a href="/" class="nav-link">Alquilar</a>
          <a href="/" class="nav-link">Agentes</a>
        </nav>
        <div class="action-menu">
          <!-- <h1 class="text"><%= text %></h1> -->
          <a href="https://agent.hauzzy.com/account/new-listing"
             class="action-link nav-link"
             target="_blank">
            <i class="fas fa-plus"></i>
            Publicar
          </a>
        </div>
      </div>
    </header>
  </body>
</html>