
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.form-wraper {
  padding: 20px;
}
.form-wraper h5 {
  text-transform: uppercase;
  color: #7d7d7d;
  margin-bottom: 10px;
}
.form-wraper .top-inputs {
  display: flex;
  margin-bottom: 10px;
}
.form-wraper label {
  font-size: 14px;
}
.form-wraper button.send-button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e2e2e2;
  background-color: #1657D7;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.form-wraper button.send-button i {
  margin-left: 5px;
}

.contact-container .agent-section {
  display: flex;
  height: 100%;
  padding: 10px 20px;
  background-color: #f7f7f7;
}