.autocomplete-container {
  width: 100%;
}
.input-autocomplete {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
}
.input-autocomplete .back-search-mobile {
  display: none;
}
.input-autocomplete .fa-search.mobile {
  position: absolute;
  left: 12px;
  color: #B4B3BC;
}
.input-autocomplete input {
  padding-left: 35px;
  color: rgb(59, 65, 68);
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B4B3BC;
  opacity: 1; /* Firefox */
}

/* Loading spinner */
.input-autocomplete > div {
  position: absolute;
  left: 10px;
  border: 3px solid #B4B3BC;
  border-bottom-color: transparent;
}
.input-autocomplete div, .input-autocomplete button div {
  animation-name: static;
}
@keyframes static {
  from {
    -webkit-transform: rotate(360deg);
}
  to {
      -webkit-transform: rotate(0deg);
  }
}

.autocomplete-suggestions {
  position: absolute;
  top: 57px;
  z-index: 100;
  width: 600px;
  background-color: #fff;
  min-height: 245px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(6,44,82,.1), 0 2px 16px 0 rgba(33,43,54,.08);
  visibility: hidden;
  opacity: 0;
}
.autocomplete-suggestions.open {
  visibility: visible;
  opacity: 1;
}
.autocomplete-suggestions ul {
  list-style: none;
}
.autocomplete-suggestions ul .autocomplete-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
  padding: 15px;
  cursor: pointer;
}
.autocomplete-suggestions ul .autocomplete-option:hover, .autocomplete-option-selected {
  background-color: #f4f5f7;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text {
  display: flex;
  align-items: center;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text .fa-search {
  color: #B4B3BC;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text span {
  font-size: 14px;
  color: #6f7780;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text .option-text {
  padding-left: 15px;
  font-family: "Helvetica Neue";
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text .option-text span, .autocomplete-suggestions ul .autocomplete-option span {
  font-size: 14px;
  color: #6f7780;
}

/* Bottom suggestions */
.autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 15px 15px;
}
.hauzzy-suggestions-bottom .suggestions-bottom-container div h2 {
  font-size: 14px;
  color: #949595;
  padding: 5px 0;
  font-weight: 400;
  /* border-top: 1px solid #dedede; */
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-container {
  display: flex;
}
.autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column {
  padding: 0 10px;
  flex: 1 1 auto;
  max-width: 33.33%;
}
.autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column:first-child {
  padding-left: 0px;
}
.autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column:last-child {
  padding-right: 0px;
}
.hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column .suggestion-item {
  font-weight: 300;
  font-size: 13px;
  /* line-height: 25px; */
  margin-top: 8px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column .suggestion-item:first-child {
  margin-top: 0px;
}
.hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column .suggestion-item span {
  display: block;
  color: #2e64e2;
  cursor: pointer;
}
.hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column .suggestion-item span:hover {
  color: #113a9a;
}


@media only screen and (max-width: 872px) {
  .autocomplete-suggestions {
    width: 500px;
  }
}
@media only screen and (max-width: 770px) {
  .autocomplete-suggestions {
    display: none;
  }
}

/* Bottom suggestions Mobile*/
@media only screen and (max-width: 770px) {
  .hauzzy-suggestions-bottom .suggestions-bottom-container div h2 {
    padding: 10px 0;
  }
  .autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-container {
    flex-direction: column;
  }
  .autocomplete-suggestions .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column {
    padding: 0 0 15px;
    max-width: none;
  }
  .hauzzy-suggestions-bottom .suggestions-bottom-container .suggestions-column .suggestion-item {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .input-autocomplete {
    align-items: inherit;
  }
  .input-autocomplete > div, .input-autocomplete .fa-search.mobile {
    display: none;
  }
  .input-autocomplete input {
    padding-left: 8px;
  }
}