.autocomplete-container {
  width: 100%;
}
.input-autocomplete {
  display: flex;
  flex: 1 1 auto;
}

.autocomplete-suggestions {
  position: absolute;
  top: 57px;
  z-index: 100;
  width: 600px;
  background-color: #fff;
  min-height: 245px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(6,44,82,.1), 0 2px 16px 0 rgba(33,43,54,.08);
  visibility: hidden;
  opacity: 0;
}
.autocomplete-suggestions.open {
  visibility: visible;
  opacity: 1;
}
.autocomplete-suggestions ul {
  list-style: none;
}
.autocomplete-suggestions ul .autocomplete-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
  padding: 15px;
  cursor: pointer;
}
.autocomplete-suggestions ul .autocomplete-option:hover, .autocomplete-option-selected {
  background-color: #f4f5f7;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text {
  display: flex;
  align-items: center;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text span {
  font-size: 14px;
  color: #6f7780;
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text .option-text {
  padding-left: 15px;
  font-family: "Helvetica Neue";
}
.autocomplete-suggestions ul .autocomplete-option .option-logo-text .option-text span, .autocomplete-suggestions ul .autocomplete-option span {
  font-size: 14px;
  color: #6f7780;
}