.secondary-nav {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #e2e2e2;
  /* border-top: 1px solid #e2e2e2; */
  background-color: #fff;
}
.secondary-nav .nav-options {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 0 16px;
}
.secondary-nav .nav-options .nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
  /* overflow-x: hidden; */
}
/* hide horizontal scrollbar in nav */
.secondary-nav .nav-options .nav-list::-webkit-scrollbar {
  display: none;
}
.secondary-nav .nav-options .nav-list li.nav-item {
  /* display: flex; */
  /* align-items: center; */
  height: 100%;
  margin-right: 25px;
  /* padding: 0 12px; */
}
.secondary-nav .nav-options .nav-list li.nav-item:hover {
  /* border-bottom: 3px solid #0069FF; */
  /* color: #0069FF; */
}
.secondary-nav .nav-options .nav-list li.nav-item.selected {
  border-bottom: 2px solid #0069FF;
  color: #0069FF;
  font-weight: 600;
}
.secondary-nav .nav-options .nav-list li.nav-item a {
  display: flex;
  text-decoration: none;
  color: #2A2A33;
  align-items: center;
  line-height: 40px;
  /* display: block; */
  /* height: 100%; */
}
.secondary-nav .nav-options .nav-list li.nav-item a:hover {
  color: #0069FF;
  /* text-decoration: underline; */
}
.secondary-nav .nav-options .nav-list li.nav-item.selected a {
  color: #0069FF;
}
.secondary-nav .nav-options .nav-list li.nav-item span {
  font-size: 12px;
  color: #ababab;
  margin-left: 6px;
  background-color: #e8e8e8;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-nav .nav-options .nav-list li.nav-item.selected span {
  background-color: #0069FF;
  color: #fff;
}

@media only screen and (min-width: 991px) {
  .secondary-nav {
    height: 40px;
  }
  .secondary-nav .nav-options {
    padding: 0;
  }
}