/* Genereal */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

/************************************* Navbar **************************************/
.main-app-container {
  padding-top: 66px;
}
.navbar-fixed-top {
  position: fixed;
  width: 100%;
  height: 66px;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #e2e2e2;
  /* box-shadow: 0 2px 4px 0 rgba(73,73,73,.1); */
}
.nav-container {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-menu-form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  /* flex: 1 1; */
  align-items: center;
}
.navbar-menu-form .fa-bars {
  font-size: 28px;
  color: #b5b3b3;
  padding: 8px 8px 8px 0;
  margin-right: 10px;
}
.navbar-menu-form .brand-logo {
  margin-right: 15px;
}
.navbar-menu-form form {
  display: flex;
  flex: 1 1 auto;
}
.navbar-menu-form input {
  width: 100%;
  height: 40px;
  background-color: #F9FAFA;
  border: 1px solid #d5d9dc;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}
.navbar-menu-form input:focus {
  outline: none;
}
.navbar-menu-form button {
  display: none;
  flex: 0 0 44px;
  border-radius: 0 5px 5px 0;
  border: 0px;
  font-size: 16px;
  color: #fff;
  background-color: #2c7bec;
  cursor: pointer;
}
/* .navbar-menu-form button:hover {
  background-color: #af0000;
} */
.navbar-menu-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
}
.navbar-menu-right a, .navbar-menu-right span {
  color: #3e3e3e;
  text-decoration: none;
}
.navbar-menu-right .map {
  /* border: 1px solid black; */
  min-width: 75px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 2px;
  border: 2px solid rgba(0,0,0,.05);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.navbar-menu-right .filter:hover {
  cursor: pointer;
}

.navbar-menu-right .menu-item {
  padding: 10px 10px;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-menu-right .menu-item.first, .navbar-menu-right .menu-item.second {
  /* border: 1px solid; */
  border-radius: 4px;
  /* color: #c30000; */
}
.navbar-menu-right .menu-item.first:hover, .navbar-menu-right .menu-item.second:hover {
  background-color: #2c7bec;
  color: #fff;
}

.navbar-menu-right .menu-item.second {
  margin-right: 10px;
}

.navbar-menu-right .menu-item .far, .navbar-menu-right .menu-item .fas {
  padding-right: 5px;
}
.navbar-menu-right .menu-item.button.secondary {
  border: 1px solid #1c68d4;
  border-radius: 4px;
  color: #0069ff;
  font-weight: 500;
}
.navbar-menu-right .menu-item.button.secondary:hover {
  background-color: #1c68d4;
  color: #fff;
  cursor: pointer;
}

.navbar-menu-right .menu-item.button.primary {
  /* border: 2px solid rgba(0,0,0,.05);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1); */
  background-color: #2c7bec;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}
.navbar-menu-right .menu-item.button.primary:hover {
  cursor: pointer;
  background-color: #1c68d4;
}
.navbar-menu-right .user-login-button button {
  cursor: pointer;
  padding: 9px 10px;
  /* color: rgb(84 88 90); */
  color: rgb(59, 65, 68);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  border: 0px;
  /* border: 1px solid #e2e2e2; */
}
.navbar-menu-right .user-login-button button.user-button.active {
  background-color: #2c7bec;
  color: #fff;
}
.navbar-menu-right .user-login-button button:hover {
  background-color: #2c7bec;
  color: #fff;
}
.navbar-menu-right .user-login-button button .inner-user-info {
  display: flex;
  align-items: center;
}
.navbar-menu-right .user-login-button button .inner-user-info i.fa-user-circle {
  font-size: 20px;
  margin-right: 5px;
}
.navbar-menu-right .user-login-button button .inner-user-info .name-email {
  max-width: 100px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Dropdown user info */
.navbar-menu-right .user-login-button div.hover-class:hover > ul::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: -10px;
  cursor: pointer;
}

.navbar-menu-right .user-login-button ul.button-dropdown {
  display: none;
  position: absolute;
  list-style: none;
  right: 0;
  top: 42px;
  width: 185px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(59, 65, 68, 0.5) 0px 2px 4px 0px;
  padding: 4px 0px;
  /* margin-top: 5px; */
}
.navbar-menu-right .user-login-button ul.button-dropdown.open {
  display: block;
}
.navbar-menu-right .user-login-button ul.button-dropdown li a {
  display: block;
}
.navbar-menu-right .user-login-button ul.button-dropdown li a:hover {
  background-color: rgb(232, 233, 234);
  cursor: pointer;
}
.navbar-menu-right .user-login-button ul.button-dropdown li a div {
  padding: 10px 16px;
}
.navbar-menu-right .user-login-button ul.button-dropdown li a div i {
  margin-right: 5px;
}


/* .navbar-menu-right .menu-item.button.primary:hover {
  background: #f8f8fa;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
} */

/************************************* Media Queries **************************************/

@media only screen and (max-width: 767px) {
  .navbar-menu-form .brand-logo {
    display: none;
  }

  .navbar-menu-right .menu-item, .navbar-menu-right .user-login-button {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-menu-form {
    flex-grow: 1.5;
  }
  .navbar-menu-right .menu-item.first, .navbar-menu-right .menu-item.second {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-menu-form .toggle {
    display: none;
  }
  
  .navbar-menu-right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }

  .navbar-menu-right .map {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-menu-right {
    flex-grow: 1.2;
  }
  .navbar-menu-form input {
    border-radius: 5px 0 0 5px;
    border-right: 0px;
  }
  .navbar-menu-form button {
    display: block;
  }
  /* .main-app-container {
    padding-top: 0;
  } */
}

/************************************* Results Containers **************************************/

/* General */
.search-results-container {
  display: flex;
  /* justify-content: start; */
}
.search-results-columns {
  width: 100%;
  /* height: 100vh; */
}
#map-column-right {
  height: 100vh;
}
#results-column-left {
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  /* positioning */
  /* position: absolute;
  top: 66px;
  left: 0;
  height: calc(100% - 64px); */
}
/* Left Container */
#results-column-left .search-results-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 16px 16px;
  padding-top: 70px;
}

/* Left Container fixed filter */
.fixed-filters {
  position: fixed;
  width: 100%;
  z-index: 50;
  /* display: none; */
  font-weight: 100;
}
.fixed-filters .search-results-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: #f5f5f5;
  font-size: 12px;
}
.fixed-filters .search-results-filter-section .filter-section-left {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
.fixed-filters .search-results-filter-section div.filters {
  margin-right: 5px;
  display: flex;
  overflow: hidden;
  height: 38px;
  max-width: 150px;
}
.fixed-filters .search-results-filter-section div.filters:last-child {
  margin-right: 0;
}
.fixed-filters .search-results-filter-section .buy-sell {
  flex: 1 2 auto;
}
.fixed-filters .search-results-filter-section button {
  background-color: #fff;
  border: 1px solid rgb(205, 209, 212);
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(59, 65, 68);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fixed-filters .search-results-filter-section .price {
  flex: 1 1 auto;
}

.fixed-filters .search-results-filter-section .beds-baths {
  flex: 1 1 auto;
}
.fixed-filters .search-results-filter-section .type {
  flex: 1 1 auto;
  margin-right: 0;
}




.fixed-filters .search-results-filter-section .filter-section-left .beds-baths.filters,
.fixed-filters .search-results-filter-section .filter-section-left .type.filters {
  display: none;
}

.fixed-filters .search-results-filter-section .filter-section-left .fa-caret-down {
  margin-left: 5px;
}

.fixed-filters .search-results-filter-section .filter-section-left .price .fa-caret-down {
  margin-left: 5px;
}


.fixed-filters .search-results-filter-section .filter-section-button-right {
  display: flex;
}
.fixed-filters .search-results-filter-section .filter-section-button-right div.filter-button {
  margin-right: 0;
}

.fixed-filters .search-results-filter-section .filter-section-button-right span {
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  /* margin-right: 5px; */
}
.fixed-filters .search-results-filter-section .filter-section-button-right span.map-button {
  display: none;
}
.fa-filter {
  padding-right: 10px;
}


/* Left Container Heading */
#results-column-left .search-results-list-container .search-results-list-heading {
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px 16px; */
}
#results-column-left .search-results-list-container .search-results-list-heading .heading-text {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  flex: 1 1 auto;
}
#results-column-left .search-results-list-container .search-results-list-heading .sort-button {
  display: none;
}
.heading-text h1 {
  font-size: 20px;
  font-weight: 700;
  color: #3B4144;
}
.heading-text h2 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(134, 144, 153);
  font-weight: normal;
}
#results-column-left .search-results-list-container .search-results-list-heading .sort-button .select-container span {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  /* margin-right: 5px; */
}
/* #results-column-left .search-results-list-container .search-results-list-heading .filter-button .select-container span {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  display: none;
} */
.fa-sort-amount-down {
  padding-right: 10px;
}
.fa-angle-down, .dynamic-angle {
  padding-left: 10px;
}


/* Left container search results grid */

.search-results-list-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.search-results-list-grid .home-card-container {
  /* width: 100%; */
  flex-basis: 100%;
  /* flex: 1 1 auto; */
}
.search-results-list-grid .home-card-container .home-card {
  margin: 8px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}
.search-results-list-grid .home-card-container .home-card.cardSelected {
  border: 2px solid #333;
  border-radius: 4px;
}
.search-results-list-grid .home-card-container .home-card:hover {
  border-color: #ccc;
  box-shadow: 0 0 7px 0 rgba(0,0,0,.35);
}
.search-results-list-grid .home-card-container .home-card.cardSelected:hover {
  border-color: #333;
  box-shadow: none;
}

.search-results-list-grid .home-card-container .home-card .property-card-media .photo-container {
  overflow: hidden;
  height: 150px;
  position: relative;
  border-radius: 4px 4px 0 0;
}
.search-results-list-grid .home-card-container .home-card .property-card-media .photo-container img {
  width: 100%;
  display: block;
  height: 100%;
}
.search-results-list-grid .home-card-container .home-card .property-card-media .photo-container .top-left-new {
  position: absolute;
  top: 0;
  padding: 2px 10px;
  margin: 5px;
  background-color: #fff;
  color: #3434fd;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.search-results-list-grid .home-card-container .home-card .property-card-media .photo-container .top-left-video {
  position: absolute;
  top: 0;
  left: 70px;
  padding: 2px 10px;
  margin: 5px;
  background-color: #4b4bf5;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.search-results-list-grid .home-card-container .home-card .property-card-info {
  padding: 16px;
  color: #333;
  max-height: 100px;
}
.property-card-info .home-card-price {
  color: #333;
  font-weight: 600;
}
.property-card-info .favorite-button {
  float: right;
  color: #7d7d7d;
  font-size: 22px;
}
.property-card-info .home-card-stats {
  display: flex;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 300;
}
.property-card-info .home-card-stats .stats {
  margin-right: 5px;
  color: #7d7d7d;
}
.property-card-info .home-card-stats .stats .fas {
  margin-right: 5px;
}
.property-card-info .home-card-address, .property-card-info .home-card-sector {
  font-size: 16px;
  font-weight: 600;
  color: #545454;
}
.property-card-info .home-card-sector .fa-map-marker-alt {
  margin-right: 5px;
}

/* Pagination */

.search-results-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}
.search-results-pagination .pagination-nav {
  display: flex;
  list-style: none;
  align-items: center;
}
.search-results-pagination .pagination-nav li + li {
  margin-left: 5px;
}
.search-results-pagination .pagination-nav .pagination-page-link a {
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #7b7b7b;
  border: 1px solid;
  border-radius: 4px;
}
.search-results-pagination .pagination-nav .pagination-page-link a.active {
  color: #c30000;
}
.search-results-pagination .pagination-nav .pagination-next-page {
  margin-left: 15px;
}
.search-results-pagination .pagination-nav .pagination-next-page a i {
  font-size: 24px;
  color: #7b7b7b;
}
.search-results-pagination .pagination-nav .pagination-page-link a:hover, .search-results-pagination .pagination-nav .pagination-next-page a i:hover {
  color: #c30000;
}


/* Footer */

.footer-container {
  margin-top: 35px;
  padding: 35px 16px;
  border-top: 1px solid #7b7b7b;
}
.footer-container .footer-main {
  color: #7b7b7b;
  font-weight: 100;
  font-size: 14px;
}
.footer-container .footer-main .footer-header-name {
  font-size: 22px;
  margin-bottom: 15px;
  color: #000;
}
.footer-container .footer-main .footer-description {
  line-height: 1.5em;
  margin-bottom: 8px;
  font-weight: 400;
}
.footer-container .footer-main .footer-copyright {
  margin-bottom: 25px;
}
.footer-container .footer-main .footer-follow-us {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-container .footer-main .footer-follow-us a {
  color: #7b7b7b;
  font-size: 30px;
  margin-right: 10px;
}
.footer-container .footer-main .footer-badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-container .footer-main .footer-badges a {
  margin-right: 5px;
}
.footer-container .footer-main .footer-badges a .apple {
  width: 128px;
}
.footer-container .footer-main .footer-badges a .android {
  width: 164px;
}



/************************************* Media Queries **************************************/

@media only screen and (min-width: 768px) {
  .fixed-filters .search-results-filter-section .filter-section-left .beds-baths.filters,
  .fixed-filters .search-results-filter-section .filter-section-left .type.filters {
    display: flex;
  }
  .search-results-filter-section .filter-section-button-right div.filter-button {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* #results-column-left .search-results-list-container .search-results-list-heading .filter-button .select-container span {
    display: block;
    margin-left: 5px;
  } */
  .fixed-filters .search-results-filter-section .filter-section-button-right span.map-button {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  #results-column-left {
    /* position: absolute;
    top: 66px;
    left: 0; */
    height: calc(100% - 64px);
  }
  .fixed-filters {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  #results-column-left.search-results-columns.none {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .search-results-list-grid .home-card-container {
    /* width: 50%; */
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .fixed-filters {
    z-index: 200;
  }
  .heading-text h1 {
    font-size: 16px;
    /* font-weight: 400; */
  }
  .heading-text h2 {
    font-size: 14px;
  }
}


/************************************* Map Container **************************************/

#map-column-right {
  /* background-color: turquoise; */
  display: none;
  /* padding: 8px 12px 8px 0; */
  padding: 0;
}
#map-column-right .save-search {
  display: none;
}

#map-column-right .filter-button {
  position: absolute;
  top: 15px;
  z-index: 200;
}



#map-div {
  height: calc(100% - 66px);
  /* border-radius: 8px; */
}

@media only screen and (max-width: 991px) {
  #map-column-right.show {
    display: block;
    position: fixed;
    height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .search-results-columns {
    width: 50%;
  }
  #map-column-right {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 66px;
    bottom: 0;
    right: 0;
    /* padding: 8px 12px 8px 0; */
  }
  #map-column-right .save-search {
    display: block;
    position: absolute;
    top: 15px;
    z-index: 100;
    left: 15px;
    padding: 8px 10px;
    background-color: #c30000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
  }
  #map-column-right .save-search .fas {
    margin-right: 5px;
  }
}

/* .map-column-right {
  height: 100%;
} */