.exposed-popover.more-filters {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}
.exposed-popover.more-filters.open {
  display: block;
}
.exposed-popover.more-filters .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */  
}
.top {
  display: flex;
  flex-direction: column;
}
.top .header {
  padding: 30px 20px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}
.top .header .close {
  position: absolute;
  top: 31px;
  right: 10px;
}
.exposed-popover.more-filters .container .top .header .close span {
  padding: 25px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
}
.top .header .label {
  flex: 4 1 0;
}
.top .main-options {
  padding-bottom: 0;
}
.top .main-options, .bottom-options, .bottom-fixed {
  padding: 20px 20px;
}
.top .main-options legend, .bottom-options legend {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 14px;
}
.top .main-options .beds-filter, .top .main-options .bath-filter, .bottom-options .property-types {
  margin-bottom: 25px;
  border: 0;
}
.radio-options, .check-options {
  display: flex;
}
.radio-options .labels {
  flex: 1 1 0;
  padding: 12px;
  text-align: center;
  border: 1px solid #e2e2e2;
  font-weight: 600;
  cursor: pointer;
}
.radio-options .labels:hover {
  border-color: #2169D3;
}
.radio-options .labels:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.radio-options .labels:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.radio-options .labels input {
  display: none;
}
.label-button.labels.selected {
  color: #fff;
  background-color: #2169D3;
}

/* Property Types */
.bottom-options {
  padding-top: 0;
}
.property-types {
  margin: 0;
}
.property-types .options {
  list-style: none;
  flex: 1 1 0;
  font-size: 16px;
  font-weight: 500;
}
.property-types .options li {
  padding: 8px 8px 8px 0;
}
.property-types .options li label {
  display: block;
  cursor: pointer;
}
.property-types .options li label input {
  margin-right: 5px;
}

/* Bottom Fixed */
.bottom-fixed {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}
.bottom-fixed span {
  margin: 10px 0;
  font-size: 16px;
}
.bottom-fixed #save-search {
  display: none;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #c30000;
  background-color: #fff;
  color: #c30000;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
}
.bottom-fixed #save-search i {
  margin-right: 5px;
}
.bottom-fixed #search {
  display: block;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  /* border: 1px solid #c30000; */
  background-color: #2169d3;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
}