
.details-container {
  display: flex;
  justify-content: center;
}

.full-details-view {
  width: 100%;
  /* padding: 0 20px; */
}
/* Header */
.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

/* Back button */
.details-header .back-to-search {
  cursor: pointer;
  color: #1A2258;
}
.details-header .back-to-search .fa-long-arrow-alt-left {
  margin-right: 10px;
}

/* Like and Share buttons (Right) */
.details-header .like-share-buttons {
  display: flex;
}
.details-header .like-share-buttons span.buttons {
  /* padding: 8px 8px;
  border: 1px solid #e2e2e2; */
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.details-header .like-share-buttons span.buttons .button-text {
  display: none;
}
.details-header .like-share-buttons span:hover {
  background-color: #f5f4f4;
}
.details-header .like-share-buttons span i {
  font-size: 20px;
  margin-right: 10px;
  color: #1A2258;
}
.details-header .like-share-buttons span:first-child {
  margin-right: 10px;
}


/* Main Content */
.main-content {
  display: flex;
}
.main-content .main-section {
  flex: 1 1 auto;
  /* margin-top: 20px; */
  /* background-color: #e2e2e2; */
}
.main-section .collage-grid {
  display: flex;
}
.collage-grid .media-main {
  position: relative;
  display: flex;
  width: 100%;
  height: 220px;
  /* border-right: 4px solid #fff; */
  /* overflow: hidden;
  background-position: center center;
  background-size: cover; */
}
.collage-grid .media-main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.collage-grid .media-main .photos-badge {
  position: absolute;
  color: #fff;
  right: 10px;
  padding: 2px 6px;
  bottom: 10px;
  display: flex;
  background-color: #525252;
  opacity: 0.8;
  align-items: center;
  border-radius: 4px;
}
.collage-grid .media-main .photos-badge i {
  margin-right: 5px;
}
.collage-grid .media-main .photos-text {
  display: none;
}
.collage-grid .second-media {
  display: none;
  /* display: flex;
  flex-direction: column;
  height: 360px;
  width: 40%; */
}
.collage-grid .second-media .photo-top, .collage-grid .second-media .photo-bottom {
  flex: 1 1 auto;
  display: flex;
  height: 180px;
}
.collage-grid .second-media .photo-top {
  border-bottom: 2px solid #fff;
}
.collage-grid .second-media .photo-bottom {
  border-top: 2px solid #fff;
}
.collage-grid .second-media img {
  width: 100%;
  height: auto;
  object-fit: cover
}
.media-main img, .photo-top img, .photo-bottom img {
  cursor: pointer;
}

/* Details Section */
.main-section .details-section {
  padding: 0 20px;
}
.main-section .details-section .info-header {
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
}
.main-section .details-section .info-header .price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-section .details-section .info-header .price-info .price-status-wraper {
  display: flex;
}
.main-section .details-section .info-header .price-info .price-tag {
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
}
.main-section .details-section .info-header .price-info .status {
  display: flex;
  align-items: center;
}
.main-section .details-section .info-header .price-info i {
  font-size: 12px;
  margin-right: 5px;
}
.main-section .details-section .info-header .price-info i.sell {
  color: #57bf18;
}
.main-section .details-section .info-header .price-info i.rent {
  color: #f7e500;
}

.info-header .stats-info {
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;
}
.info-header .stats-info .stats {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #545252;
}
.info-header .stats-info .stats i {
  margin-right: 5px;
}
.info-header .stats-info .stats span.text {
  margin-left: 5px;
  display: none;
}
.info-header .address-info {
  margin-bottom: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-header .extra-info {
  display: flex;
  align-items: center;
}
.main-section .details-section .info-header .extra-info .video-badge {
  display: inline-flex;
  padding: 4px 8px;
  background-color: #2270ff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
}
.main-section .details-section .info-header .extra-info .video-badge i {
  margin-right: 5px;
}
.info-header .extra-info .map-link {
  color: #2270FF;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}


.amenities {
  padding: 20px 0;
}
.amenities .amenities-header {
  color: #3E4246;
  font-size: 14px;
  margin-bottom: 20px;
}
.amenities .amenities-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.amenities .amenities-details .amenity {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  padding-bottom: 20px;
}
.amenities .amenities-details .amenity i {
  margin-right: 5px;
  color: #3A6CE3;
}
.amenities .amenities-details .amenity span {
  font-size: 14px;
}

.description {
  padding: 0 0 25px 0;
}
.description h3 { 
  margin-bottom: 20px;
}


.main-content .info-section {
  display: none;
}
.main-content .info-section .info-wraper {
  position: sticky;
  border-radius: 2px;
  top: 75px;
  background-color: #fff;
  height: 440px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.1);
  z-index: 500;
}




@media only screen and (min-width: 992px) {
  .full-details-view {
    max-width: 1080px;
    padding: 0;
    /* margin: 0 auto; */
  }
  .details-header {
    padding: 12px 0;
  }
  .details-header .back-to-search {
    padding: 8px 0;
  }
  /* Right Buttons */
  .details-header .like-share-buttons span.buttons {
    padding: 8px 8px;
    border: 1px solid #e2e2e2;
  }
  .details-header .like-share-buttons span.buttons .button-text {
    display: inline-block;
  }

  /* Photos Grid */
  .main-content .main-section {
    margin-top: 20px;
  }
  .collage-grid .media-main {
    height: 360px;
    width: 60%;
    border-right: 4px solid #fff;
  }
  .collage-grid .media-main .photos-badge {
    left: 50%;
    top: 50%;
    bottom: initial;
    right: initial;
    transform: translate(-50%, -50%);
    justify-content: center;
    padding: 4px 8px;
    width: 150px;
    border-radius: 12px;
    background: rgba(0,0,0,.7);
    cursor: pointer;
  }
  .collage-grid .media-main .photos-text {
    display: inline;
    margin-left: 5px;
  }
  .collage-grid .second-media {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 40%;
  }
  /* Details section */
  .main-section .details-section {
    padding: 0;
  }
  .info-header .stats-info .stats span.text {
    display: inline;
  }
  .amenities {
    padding: 25px 0;
  }
  .amenities .amenities-header {
    font-size: initial;
  }
  .amenities .amenities-details .amenity {
    flex-basis: 33.33%;
  }
  .amenities .amenities-details .amenity span {
    font-size: 16px;
  }



  /* Broker info */
  .main-content .info-section {
    display: block;
    flex: 0 0 360px;
    margin-left: 60px;
    margin-top: 20px;
    /* background-color: #e2e2e2; */
  }
}
