.nav-container .social-share {
  justify-content: center;
}
.social-share {
  display: flex;
  justify-content: center;
}
.social-share button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-bottom: 1px !important;
}
.social-share button.fb-share-button {
  background-color: #3B5998 !important;
  padding-right: 15px !important;
  color: #fff !important;
  margin-right: 10px;
  font-weight: 600 !important;
}
.social-share button.wa-share-button {
  background-color: #39D366 !important;
  padding-right: 15px !important;
  padding-left: 5px !important;
  color: #fff !important;
  margin-right: 10px;
  font-weight: 600 !important;
}

@media only screen and (min-width: 768px) {
  .social-share {
    justify-content: start;
  }
}